.button {
  border: 0;
  padding-block: 12px;
  padding-inline: 36px;
  background: var(--button-gradient);
  color: var(--color-light);
  border-radius: var(--border-radius-l);
}
.label {
  font-weight: 600;
}
