@use '@/styles/media.scss' as *;

.button {
  border: 0;
  padding-block: 12px;
  padding-inline: 36px;
  background: var(--button-gradient);
  color: var(--color-light);
  border-radius: var(--border-radius-l);

  @include hover {
    box-shadow: 0 0 8px 1px var(--color-light);
  }

  &:active {
    scale: 1.05;
  }
}
.label {
  font-weight: 600;
}
