#app {
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--font-family-base);
  color: var(--color-light);
  background-color: var(--color-black);
  font-weight: 400;
}

button,
label,
input,
select {
  transition-duration: var(--transition-duration);
}

:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-accent);
  transition-duration: 0s !important;
}

.wrapper {
  --position-offset: -360px;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(var(--position-offset));
    z-index: var(--layout-blure-circle);
    width: 390px;
    height: 390px;
    background: url('blur-radial.png');
  }
}