@use '@/styles/media' as *;

.step {
  $bgColor: var(--color-grey-30);

  position: relative;
  z-index: var(--layout-block);

  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: var(--border-radius-m);
  border: 1px solid transparent;
  background:
    linear-gradient($bgColor, $bgColor) padding-box,
    linear-gradient(
        120deg,
        rgba(229, 231, 235, 0.5) 0.05%,
        rgba(229, 231, 235, 0) 25.05%
    ) border-box;

  @include mobile {
    padding: 24px;
  }
}

.title {
  font-weight: 500;
  font-size: 20px;
  padding: 0;
  margin-bottom: 36px;
  overflow: hidden;
  text-overflow: ellipsis;

  @include mobile-landscape {
    margin-bottom: 16px;
  }
}

.form {
  display: flex;
  flex-direction: column;

  & fieldset {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 36px;

    @include mobile-landscape {
      margin-bottom: 16px;
    }
  }
}

.footer {
  align-self: center;
}

.dynamic {
  display: contents;
}