@use '@/styles/mixins.scss' as *;

.field {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  transition-duration: var(--transition-duration);

  & input {
    appearance: none;

    @include field-style;

    &::placeholder {
      font-weight: 500;
      color: var(--color-light);
    }
  }
}